{% extends 'base.html' %}
{% load static %}
{% block style %}
{% endblock %}
{% block title %}
    {{ request.user }} Profile Dashboard
{% endblock %}
{% block body %}
    <div class="container flex-row">
        {% include 'profile/sidebar.html' %}
        <div class="w-70 ml-32">
            <h1>Welcome {{ request.user }}</h1>
            <table class="full-width">
                <tr class="bg-black">
                    <th style="
                    color: white;
                ">User Infomation
                    </th>
                </tr>
                <tr>
                    <td><strong>User name: </strong>{{ request.user }}</td>
                </tr>
                <tr>
                    <td><strong>Name: </strong>{{ request.user.first_name }} {{ request.user.last_name }}</td>
                </tr>
                <tr>
                    <td><strong>Email: </strong>{{ request.user.email }}</td>
                </tr>
                <tr>
                    <td><strong>Address: </strong>{{ object.address }}</td>
                </tr>
                <tr>
                    <td><strong>Birth Date: </strong>{{ object.birth_date }}</td>
                </tr>
            </table>
            {% if transaction.order_set.all %}
                <h1>Your have an active transaction</h1>
                <a class="b-b unstyled-link pa8"
                   href="{% url 'main:payment_slip' transaction.pk %}">Print payment slip</a>
                <a href="{% url 'main:profile_upload_pay_in' %}" class="mt-16 b-b unstyled-link pa8">Upload Pay-in
                    Slip</a>
            {% endif %}
        </div>
    </div>
{% endblock %}