{% extends 'base.html' %}
{% load static %}
{% block style %}
	<link rel="stylesheet" href="{% static 'css/catalogue.css' %}">
{% endblock %}
{% block title %}
	Catalogue - AIRY
{% endblock %}
{% block body %}
	<div class="product-table">
        {% for product in object_list %}
            <div class="product-item">
			<div class="product-overlay">
                <a href="{% url 'main:product_detail' product.pk %}"
                class="product-overlay-text flex-col unstyled-link">
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.price }}$</p>
                    <a href="" class="btn btn-icon">
						<img src="{% static 'imgs/eye_black.svg' %}" alt="view-garment">
						<span class="btn-icon-span">View Garment</span>
					</a>
				</a>
			</div>
                <img src="{{ product.pic.url }}" alt="product-thumbnail" class="product-img">
		</div>
        {% endfor %}
	</div>
	<script src="{% static 'js/searchBy.js' %}">
	</script>
	
{% endblock %}
