{% extends 'base.html' %}
{% load static %}
{% block style %}
    
{% endblock %}
{% block title %}
    Account - AIRY
{% endblock %}
{% block body %}
<h1>Contact Us</h1>
<div>Airy Co.Ltd;</div>
<div>40 Naknivat 3 Ladproa Bangkok 10250</div>
<div>
    Advice Online Tel.0972768430
</div>
<div>
    LINE : @AiryCom (Office hour 9.00 am - 6.00 pm)

</div>
<div>
    Tax ID 01-2555-5014685

</div>
<div id="map" style="width:400px;height:400px;background:yellow"></div>

<script>
function myMap() {
var mapOptions = {
    center: new google.maps.LatLng(51.5, -0.12),
    zoom: 10,
    mapTypeId: google.maps.MapTypeId.HYBRID
}
var map = new google.maps.Map(document.getElementById("map"), mapOptions);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
{% endblock %}