{% extends 'base.html' %}
{% load static %}
{% block style %}
{% endblock %}
{% block title %}
    {{ request.user }} Profile Tracking
{% endblock %}
{% block body %}
    <div class="container flex-row align-items-center">
        {% include 'main/profile-sidebar.html' %}
        <div class="w-70 ml-32">
            <div class="full-width">
                <h1>Tracking System</h1>
            </div>
            <table class="full-width">
                <tr class="bg-black">
                    <th style="
                    color: white;
                ">ID</th>
                    <th style="
                    color: white;
                ">Products</th>
                    <th style="
                    color: white;
                ">Shipping</th>
                    <th style="
                    color: white;
                ">Status</th>
                    <th style="
                    color: white;
                ">Date</th>
                </tr>
                {% for object in object_list %}
                    <tr>
                        <td style="
                        text-align: center;
                    ">{{ object.pk }}</td>
                        <td style="
                        text-align: center;
                    ">
                            {% for order in object.order_set.all %}
                                {{ order.product.name }}<br>
                            {% endfor %}
                        </td>
                        <td style="
                        text-align: center;
                    ">{{ object.shipping }}</td>
                        <td style="
                        text-align: center;
                    ">{{ object.status }}</td>
                        <td style="
                        text-align: center;
                    ">{{ object.date }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>
{% endblock %}