{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href={% static 'css/loginform.css' %}>
{% endblock %}
{% block title %}
    Create Account - AIRY
{% endblock %}
{% block body %}
    <div class="container">
        <form action="" method="post" class="login-form">
            {% csrf_token %}
            <h2 class="login-form-title">Create Account</h2>
            <div class="dot-divider"></div>
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="dot-divider"></div>
            <div class="sign-up-section">
                <input class="btn btn-default" type="submit" value="CREATE ACCOUNT">
                <p>or Already Have An Account? <a class="unstyled-link" href="{% url 'main:login' %}"><strong> Sign
                    In </strong></a></p>
            </div>
        </form>
    </div>
{% endblock %}