.product-list {
    display: flex;
}

.form-shipping {
    display: flex;
    flex-direction: column;
}

.product-img {
    width: 25%;
    height: auto;
}

@media screen and (min-width: 1024px) {
    /* body { */
    /* display: flex; */
    /* justify-content: center; */
    /* } */
    /* .container { */
    /* min-width: 70%;   */
    /* } */
    .product-list {
        justify-content: space-between;
    }
    .form-shipping {
        align-self: flex-end;
        min-width: 25%;
    }
}