@font-face {
    font-family: 'LogoFont';
    src: url(../fonts/LOGO.otf);
}

body {
    padding-top: 80px;
    font-family: LogoFont;
    color: black;
    background: white;
    padding-bottom: 100px;
}

.container {
    display: flex;
    flex-direction: column;
}

.dev {
    border: 1px solid red;
}

.dev-blue {
    border: 1px solid blue;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    padding: 8px;
    flex-wrap: wrap;
    align-content: center;
    background: white;
    color: black;
}

.brand {
    display: flex;
    flex-grow: 2;
}

.brand-logo {
    height: 60px;
    width: auto;
}

.action {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    flex-grow: 2;
}

.footer {
    position: absolute;
    width: 100%;
    background: white;
    text-align: center;
    color: black;
    margin-bottom: 7px;
}

.dot-divider {
    margin-bottom: 32px;
    border-top: 1px dotted grey;
}

.unstyled-link,
.unstyled-link-white {
    text-decoration: none;
}

.unstyled-link {
    color: black;
}

.unstyled-link-white {
    color: white;
}

.unstyled-link:hover,
.unstyled-link-white:hover {
    color: grey;
}

.transition-5 {
    transition: 0.5s ease;
}

.collapse-menu {
    overflow: hidden;
    max-height: 0;
    background: white;
    color: black;
    position: fixed;
    top: 61px;
    right: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
    z-index: 100;
}

.collapse-ul {
    padding: 0 16px 0 16px;
    list-style: none;
}

.collapse-li {
    padding: 16px 0 16px 0;
    border-bottom: 1px solid lightgrey;
}

.collapse-li:hover {
    transition: .5s ease;
    background: lightgray;
}

.total-section {
    margin: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn {
    border: none;
    background: none;
    text-decoration: none;
}

.btn-icon {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.btn-icon-span {
    margin-left: 4px;
}

.btn-icon:hover {
    color: gray;
}

.btn-default {
    background: black;
    color: white;
    padding: 8px 64px 8px 64px;
}

.btn-sm {
    padding: 10px 16px 10px 16px;
}

.input-sm {
    width: 48px;
}

.btn-circle {
    border-radius: 100%;
}

.btn-default:hover {
    background: grey;
    transition: .5s ease;
}

.btn-brown {
    background: #b2a586;
    color: white;
    padding: 8px 64px 8px 64px;
}

.btn-white {
    border: 1px solid black;
    background: white;
    color: black;
    padding: 8px 64px 8px 64px;
}

.btn-white:hover {
    background: black;
    color: white;
    transition: .5s ease;
}

.ma-8 {
    margin: 8px;
}

.ma-16 {
    margin: 16px;
}

.mb-8 {
    margin-bottom: 8px;
}

.pa8 {
    padding: 8px;
}

.ph-8 {
    padding-left: 8px;
    padding-right: 8px;
}

.pv-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.mt-16 {
    margin-top: 16px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mr-16 {
    margin-right: 16px;
}

.ml-16 {
    margin-left: 16px;
}

.ml-32 {
    margin-left: 32px;
}

.mr-32 {
    margin-right: 32px;
}

.product-item {
    position: relative;
}

.product-item>img {
    width: 100%;
    height: auto;
}

.bg-light-brown {
    background: #ece8e2;
}

.bg-brown {
    background: #b2a586;
}

.bg-black {
    background: black;
}

.bg-white {
    background: white;
}

.bottom-fixed {
    position: fixed;
    left: 0;
    bottom: 0;
}

.text-c {
    text-align: center;
}

.text-l {
    text-align: left;
}

.text-r {
    text-align: right;
}

.unstyled-ul {
    list-style: none;
    padding: 0;
}

.unstyled-li {
    margin-bottom: 0;
}

.form-flex-col {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

select {
    outline: none;
    border: 4px solid gray;
    background: white;
    padding: 8px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.no-wrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-grow1 {
    flex-grow: 1;
}

.flex-grow2 {
    flex-grow: 2;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.full-width {
    width: 100%;
}

.text-muted {
    color: grey;
}

.align-items-center {
    align-items: center;
}

.justify-c {
    justify-content: center;
}

.w-50 {
    width: 50%;
}

.w-20 {
    width: 20%;
}

.w-40 {
    width: 40%;
}

.w-70 {
    width: 70%;
}

input {
    border-color: lightgrey;
    background: white;
    padding: 10px 10px 10px 10px;
}

@media screen and (min-width: 768px) {
    .brand {
        justify-content: flex-start;
    }
}

@media screen and (min-width: 1024px) {
    .product-item {
        margin: 20px 20px;
        min-width: 240px;
        max-width: 300px;
        height: auto;
    }
    .collapse-menu {
        width: 25%;
    }
}

