<footer class="footer mt-16">
    <div class="flex-row">
        <button class="btn-white full-width">FREE WORLDWIDE SHIPPING</button>
    </div>
    <div class="flex-row space-around mt-16 wrap">
        <div class="flex-col text-l">
            <strong>Our flagship stores</strong>
            <small>London & Sheffield</small>
        </div>
        <div class="flex-col text-l">
            <strong>HELP</strong>
            <small>Delivery</small>
            <small>Order & Returns</small>
            <small>Other FAQ</small>
            <small>Contact us</small>
        </div>
        <div class="flex-col text-l">
            <strong>AIRY SOCIAL</strong>
            <small>Twitter</small>
            <small>Facebook</small>
            <small>Instragram</small>
            <small>Shop Insta</small>
        </div>
        <div class="flex-col text-l">
            <strong>JOIN US</strong>
            <label for="join-us-email" style="margin-bottom: 12px;font-size: 10px;">Enter your email to receiver updates and offers</label>
            <input type="email" name="join-us-email" id="join-us-email">
        </div>
    </div>
    <div class="flex-row space-around mt-16">
        <span class="text-muted">@ 2017 AIRY</span>
    </div>
</footer>