{% load static %}
<nav class="nav">
    <div class="brand">
        <a href="{% url 'main:index' %}">
            <img src="{% static 'imgs/brand_logo_inverse.png' %}" alt="brand-logo" class="brand-logo">
        </a>
    </div>
    <div>
        <form action="{% url 'main:catalogue' %}" method="GET">
			<input type="text" name="q">
			<input type="submit" value="search">
			<input type="checkbox" name="price">price</input>
			<input type="checkbox" name="brand">brand</input>
			<input type="checkbox" name="name">name</input>
		</form>
    </div>
    <div class="action">
        <button class="btn btn-icon" id="basket-toggler">
            <img src="{% static 'imgs/shopping_basket_black.svg' %}" alt="shopping-basket">
        </button>
        <button class="btn btn-icon" id="hamburger-toggler">
            <img src="{% static 'imgs/menu_black.svg' %}" alt="menu">
        </button>
    </div>
</nav>
<div class="collapse-menu" id="basket-menu">
    <p>Hello, <strong>
        {% if request.user.is_authenticated %}
            <a href="{% url 'main:cart' %}" class="unstyled-link">{{ request.user }}</a>
        {% else %}
            <a href="{% url 'main:login' %}" class="unstyled-link">Guest</a>
        {% endif %}
    </strong>
    </p>
    <h1 class="ml-16">Cart</h1>
    {% if cart %}
        <div class="total-section">
            <strong>PRODUCT NAME</strong>
            <span>PRICE</span>
        </div>
        <div class="dot-divider"></div>
        {% for order in cart %}
            <div class="total-section">
                <strong>
                    <a href="{% url 'main:product_detail' order.product.pk %}" class="unstyled-link">
                        {{ order.product.name }} x {{ order.amount }}
                    </a>
                </strong>
                <span> {{ order.get_total_price }} </span>
            </div>
        {% endfor %}
        <div class="dot-divider"></div>
        <div class="total-section">
            <strong>SUBTOTAL: </strong>
            <span>{{ sub_total_price }}</span>
        </div>
        <a href="{% url 'main:cart' %}" class="btn btn-default ml-16">CHECKOUT</a>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
</div>
<div class="collapse-menu" id="hamburger-menu">
    <ul class="collapse-ul">
        {% if request.user.is_authenticated %}
            <li class="collapse-li">
                <a href="{% url 'main:profile_dashboard' %}" class="unstyled-link">
                    <strong>Your account</strong>
                </a>
            </li>
        {% endif %}
        <li class="collapse-li">
            <a href="{% url 'main:catalogue' %}" class="unstyled-link"><strong>Guys</strong></a>
        </li>
        <li class="collapse-li">
            <a href="{% url 'main:catalogue' %}" class="unstyled-link"><strong>Girls</strong></a>
        </li>
        <li class="collapse-li">
            <a href="{% url 'main:catalogue' %}" class="unstyled-link"><strong>Editorial</strong></a>
        </li>
        <li class="collapse-li">
            <a href="{% url 'main:catalogue' %}" class="unstyled-link"><strong>Search</strong></a>
        </li>
        <li class="collapse-li">
            <a href="{% url 'main:catalogue' %}" class="unstyled-link"><strong>Contact Us</strong></a>
        </li>
        <li class="collapse-li">
            <a href="{% url 'main:catalogue' %}" class="unstyled-link"><strong>Visit Us</strong></a>
        </li>
        {% if not request.user.is_authenticated %}
            <li class="collapse-li">
                <a href="{% url 'main:login' %}" class="unstyled-link"><strong>Sign In / Register</strong></a>
            </li>
        {% endif %}
        {% if request.user.is_authenticated %}
        <li class="collapse-li">
            <a href="{% url 'main:logout' %}" class="unstyled-link">
                <strong>Sign out</strong>
            </a>
        </li>
        {% endif %}
    </ul>
</div>